@import "./colors";

@mixin default {
  font-size: 16px;
  line-height: 26px;
}
@mixin logo {
  font-weight: 900;
  font-size: 26px;
  color: $logo-color;
}
@mixin btn {
  padding: 4px 57px;
  text-align: center;
  background-color: $btn-color;
  border: 3px solid $btn-color;
  transition: 0.4s ease-in-out;
  color: white;
  border-radius: 2px;
  font-weight: 500;
}
@mixin navbar-link {
  font-size: 14px;
  color: $text-color;
  margin-right: 60px;
}
@mixin title {
  font-size: 50px;
  font-weight: 500;
  color: $title-color;
}
@mixin sub-title {
  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  line-height: 30px;
}
@mixin d-flex {
  display: flex;
}
@mixin title-content {
  font-size: 36px;
  font-weight: 500;
  color: $title-color;
}
@mixin subtitle-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $subtitle-content;
}
@mixin d-flex-jb {
  @include d-flex;
  align-items: center;
  justify-content: space-between;
}
